<script type='text/x-handlebars-template' id='faostat_ui_welcome_page_structure'>
    <div class='row'>
        <div class='col-xs-12'>
            <p>
            <div id='welcome_text'></div>
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
            <h3>
                {{related_documents}}
            </h3>
            {{#if hasDocuments}}
                <ul style="list-style-type: none; padding: 0; margin: 0;">
                    {{#each documents}}
                        <li>
                            <i class="fa fa-archive"></i>
                            <a target='_blank' href='{{base_url}}{{FileName}}'>{{FileTitle}}</a>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>{{no_docs_available}} {{domain_name}}.</p>
            {{/if}}
        </div>
    </div>
    <div id="welcome_section"></div>
</script>